
  <nav>

      <div class="title">
        <!-- <h1>Big Foot Tracker</h1> -->
        <button onclick="location.href='/maps'"><h1>Big Foot Tracker</h1></button>
      </div>

      <div class="sideTitle">
        <% if (!username) { %>
         <form method='POST' action="/login">
          <input name='username'type="text" placeholder='Username:' />
          <button type="submit" class="btn btn-primary">USER Login</button>
        </form>
        <% } else { %>
        <h4>Logged in as: <%= username %> </h4>
        <div class="users">
          <button onclick="location.href='/favourite'">to users</button>
        </div>
         <form method="GET" action="/logout">
          <button type="submit" class="btn btn-primary">Logout</button>
        </form>
        <% } %>
      </div>

  </nav>

