<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>


    <!-- External Leaflet JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>


  </head>

  <body>
    <nav>
      <div class="title">
        <h1>Big Foot Tracker</h1>
      </div>
      <div class="sideTitle">

         <form method='POST' action="/login">
          <input name='username'type="text" />
          <button type="submit" class="btn btn-primary">USER Login</button>
        </form>

      </div>
    </nav>

    <header>
      <h3>Big Foot sightings</h3>

    </header>

    <!-- map basic test -->

    <div id="map"></div>


    <table id="map-index" class="table">
        <thread>
          <tr>
            <th>Title</th>
            <th>Location</th>
            <th>Description</th>
          </tr>
        </thread>

        <tbody>

        </tbody>
      </table>





    <script src="/scripts/map.js"> </script>
    <script src="/scripts/map-index.js"> </script>

  </body>
</html>


