<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>


    <!-- External Leaflet JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>



  </head>

  <body>
    <nav>
      <div class="title">
        <h1>Big Foot Tracker</h1>
      </div>
      <div class="sideTitle">
         <!-- <h3>User/ Login</h3> -->
         <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </nav>

    <header>
      <h3>Big Foot sightings</h3>

    </header>
    <!-- map basic test -->

    <div id="map"></div>

    <script>

      // map tile image
      let map = L.map('map').setView([49, -123], 3);
      L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=wpKyMC536a0ZlXqAX7iu', {
        attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
        noWrap: false,
      }).addTo(map);



      // // hard coded map marker test, Title, Image, Description

      // let marker = L.marker([49.246292, -123.116226], {
      //   title: "big foot sighting",

      // }).addTo(map).bindPopup('<h1> Vancouver </h1> <div> <img src="https://i.pinimg.com/originals/43/eb/96/43eb96608de40c2d0bd7fbf387d5df87.jpg" height="150px" width="auto"/> <p id="description"> spottted bigfoot at McDonalds!?!? </p> <p id="longLat">location at 49.246292, -123.116226</p></div> ');

      // // example popup information scheme for bindPopup ^^^

      // <h1> `${location}` </h1> <div> `<img src= {image} + height="150px" width="auto"/> <p id="description"> ${description} </p> <p id="longLat"> location at ${longitude, latitude}</p>` </div>



      // User adding marker and removing marker, popups hardcoded

      let theMarker = {};

      map.on('click',function(e){
      lat = e.latlng.lat;
      lon = e.latlng.lng;

      // //Clears existing marker by placing elsewhere
      if (theMarker !== undefined) {
              map.removeLayer(theMarker);
        };

      //Add a marker to show where you clicked.
      theMarker = L.marker([lat,lon]).addTo(map).bindPopup(`<h1> Vancouver </h1> <div> <img src="https://i.pinimg.com/originals/43/eb/96/43eb96608de40c2d0bd7fbf387d5df87.jpg" height="150px" width="auto"/> <p id="description"> spotted bigfoot at McDonalds!?!? </p> <p id="longLat">location at ${[(lat).toFixed(3), (lon).toFixed(3)]} </p></div> `);
      });


    </script>


  </body>
</html>


