<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Logged in Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav-bar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/map.css" type="text/css" />


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>


    <!-- External Leaflet JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>


  </head>

  <body>
    <%- include('partials/nav-bar') %>

    <header id="login-head">

    </header>

    <main class="logged-in-maps">

      <!-- map basic test -->
      <div class="page-titles"><h1>Users Page</h1></div>
      <div id="map"></div>

      <div class="users-table">
      <div class="fav-maps">
        <h4>My Fav Maps</h4>
        <ul>
          <% for (const item of favs) { %>
            <li><a href = "/maps/<%= item.map_id  %>" ><%= item.name %></a></li>

            <%} %>
          </ul>
        </div>
        <div class="my-maps">
          <h4>My Created Maps</h4>
        </div>
      </div>
      <script src="/scripts/user-map.js"> </script>

    </main>




  </body>
</html>


<!-- <div id="marker-comment">
  <input id="title" type="text" placeholder="Location"/>
  <input id="date" type="text" placeholder="Date"/>
  <input id="img_url" type="text" placeholder="URL"/>
  <input id="description" type="text" placeholder="Description"/>
  <p id="longLat">location at ${[(lat).toFixed(3), (lon).toFixed(3)]} </p>
</div>

<div>
<button type="submit" class="btn btn-primary">save location</button></form>
<button type="submit" class="btn btn-primary">delete location</button></form>
</div>  -->
