// See: https://sass-lang.com/

.page-titles {
  display: flex;
  padding-top: 2%;
  padding-left: 10%;
  padding-bottom: 2%;
}

body {
  background-color: #606c38;

}


#maps-list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(157, 199, 149, 0.308);

  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 10%;
}




.users-table{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: rgba(157, 199, 149, 0.308);
  padding-left: 10%;
  padding-right: 10%;
}


.heart-map-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 5%
}

#heart {
  display: flex;
  // flex-direction: row-reverse;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 2em;
  padding-right: 10%;

}
