// See: https://sass-lang.com/

body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }

}

// nav bar with Title and user
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(146, 218, 146);
  padding-top: 10vh;
  padding-bottom: 10vh;
}

header {
  display: flex;
  justify-content: flex-start;
  margin-left: 12%;
  margin-top: 5%;
  color: black;
}

// map layout
#map {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 75%;
  margin: auto;
  margin-top: 5%;
  padding: auto;
  margin-bottom: 100px;
}

