.fav-map-list {
  display: flex;
  flex-direction: column;

}


.btn-btn-primary-1 {
  background-color: #283618;
  color: #fefae0;
  padding: 5px;
  border-radius: 8px;
  margin-right: 20px;
  transition-duration: 0.4s;
}
.btn-btn-primary-1:hover {
  background-color: #4CAF50; /* Green */
  color: white;

}
