// map layout
#map-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}




#map {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 80%;
  margin: auto;
  margin-top: 2%;
  padding: auto;
  margin-bottom: 5%;
}

.fa-fa-heart {
  color: red;
}

.marker-comment{
  display:flex;
  flex-direction: column;
}
