// map layout
#map-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#map {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 80%;
  margin: auto;
  margin-top: 2%;
  padding: auto;
  margin-bottom: 5%;
  border: 2px solid rgba(35, 68, 8, 0.795);
  border-radius: 25px;
}

.fa-fa-heart {
  color: red;
}

.marker-comment{
  display:flex;
  flex-direction: column;
}
