// map layout
#map {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 75%;
  margin: auto;
  margin-top: 5%;
  padding: auto;
  margin-bottom: 100px;
}

.fa-fa-heart {
  color: red;
}
